@charset "utf-8";
/*css reset*/

html, body{height:100%;*overflow:auto;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,blockquote,button{margin:0;padding:0;}
body,input,textarea,button,select,table{font-family:"NanumGothic", "나눔고딕", "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif !important; font-size:12px;  color:#333;}

body{background:#fff;-webkit-text-size-adjust:none;}
img,fieldset,button {border:0 none;}
textarea {border:1px solid #d9d9d9;overflow:auto;}
ul,ol{list-style:none;}
input[type=radio] {width:14px;height:14px;margin:0;padding:0;}
input[type=text]::-ms-clear {display: none;}
select{vertical-align:middle;border:1px solid #d9d9d9;}
a {color:#333;text-decoration:none;}
a:hover {color:#333;text-decoration:none;}
em{font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
caption {display:none;}
fieldset, button {border:none;}
hr, legend {display:none; clear:both}
iframe {width:100%; height:100%;}
input {padding:0;}
label * {vertical-align:middle;}
*:focus { outline:none; }
*:-webkit-auto:fill{-webkit-box-shadow: 0 0 0px 1000px white inset;}

/* Calendar Tab키 */
#ui-datepicker-div {z-index:5 !important;}
#ui-datepicker-div a:focus{outline:1px dashed #ff8a00;}
#ui-datepicker-div input[type=radio]:focus{ooutline:1px dashed #ff8a00;}
#ui-datepicker-div input[type=checkbox]:focus{outline:1px dashed #ff8a00;}
#ui-datepicker-div button:focus,input[type=button]:focus{outline:1px dashed #ff8a00;}


/* webfont */
@font-face{
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: normal;
  src: url('/common/webfont/NanumGothic.eot'); 
  src: local('※'), url('/common/webfont/NanumGothic.woff') format('woff'), url('/common/webfont/NanumGothic.ttf') format('truetype');
 }

@font-face{
	font-family: 'NanumGothicBold';
	font-style: normal;
	font-weight: normal;
	src: url('/common/webfont/NanumGothicBold.eot'); 
	src: local('※'), url('/common/webfont/NanumGothicBold.woff') format('woff'), url('/common/webfont/NanumGothicBold.ttf') format('truetype');
 }

/* floating */
.clearFix:after {content:""; display:block; height:0; clear:both; visibility:hidden;}
.clearFix {zoom:1;}
.floatL {float:left !important;}
.floatR {float:right !important;}
.clear  {clear:both !important;}

/* 정렬 */
.alignL {text-align:left !important;}
.alignC {text-align:center !important;}
.alignR {text-align:right !important;}
.valignT {vertical-align:top !important;}
.valignM {vertical-align:middle !important;}

/* 여백 마진 */
.mt0  {margin-top:0 !important;}
.mt-1 {margin-top:-1px !important;}
.mt3  {margin-top:3px !important;}
.mt5  {margin-top:5px !important;}
.mt7  {margin-top:7px !important;}
.mt8  {margin-top:8px !important;}
.mt10  {margin-top:10px !important;}
.mt15  {margin-top:15px !important;}
.mt12  {margin-top:12px !important;}
.mr0  {margin-right:0 !important;}
.mr_7  {margin-right:-7px !important;}
.mr5  {margin-right:5px !important;}
.mr10  {margin-right:10px !important;}
.mr20  {margin-right:20px !important;}
.mb5  {margin-bottom:5px !important;}
.mb10  {margin-bottom:10px !important;}
.ml10  {margin-left:10px !important;}
.mb12  {margin-bottom:12px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30  {margin-bottom:30px !important;}
.mb40  {margin-bottom:40px !important;}
.ml5  {margin-left:5px !important;}
.ml12  {margin-left:12px !important;}
.m10 {margin:0 10px !important;}

/* 여백 패딩 */
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt12 {padding-top:12px !important;}
.pt15 {padding-top:15px !important;}
.pt35 {padding-top:35px !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl32 {padding-left:32px !important;}
.pall5 {padding:5px !important;}

/* Percent Size */
.wp3 {width:3% !important;}
.wp10 {width:10% !important;}
.wp12 {width:12% !important;}
.wp20 {width:20% !important;}
.wp30 {width:30% !important;}
.wp40 {width:40% !important;}
.wp50 {width:50% !important;}
.wp55 {width:55% !important;}
.wp60 {width:60% !important;}
.wp65 {width:65% !important;}
.wp70 {width:70% !important;}
.wp75 {width:75% !important;}
.wp80 {width:80% !important;}
.wp90 {width:90% !important;}
.wp100 {width:100% !important;}

/* Pixel width Size */
.wx50 {width:50px !important;}
.wx60 {width:60px !important;}
.wx70 {width:70px !important;}
.wx80 {width:80px !important;}
.wx90 {width:90px !important;}
.wx100 {width:100px !important;}
.wx130 {width:130px !important;}
.wx180 {width:180px !important;}
.wx190 {width:190px !important;}

/* Pixel height Size */
.hx35 {height:35px !important;}
.hx50 {height:50px !important;}
.hx58 {height:58px !important;}
.hx60 {height:60px !important;}
.hx70 {height:70px !important;}
.hx80 {height:80px !important;}
.hx90 {height:90px !important;}
.hx100 {height:100px !important;}
.hx300 {height:300px !important;}
.hx460 {height:460px !important;}
.hx660 {height:660px !important;}
.hx676 {height:676px !important;}
.hx700 {height:700px !important;}

.wbox {width:100%;height:100%;overflow:hidden;padding:0px;margin:0px;position:absolute;left:0px;top:0px;border:0px;}
.vbox {height:100%;padding:0px;margin:0px;border:0px;float:left;position:absolute; overflow:hidden;}
.hbox {width:100%;padding:0px;margin:0px;border:0px;position:absolute; overflow:hidden;}
.vslider {height:100%;width:2px;padding:0px;margin:0px;border:0px;overflow:hidden;float:left;position:absolute;text-align:center;}
.hslider {height:2px;width:100%;padding:0px;margin:0px;border:0px;overflow:hidden;position:absolute;text-align:center;}
.sliderghost {overflow:hidden;position:absolute;text-align:center;padding:0px;margin:0px;border:0px;}

.noscroll {overflow:hidden;}
.autoscroll {overflow:auto;}
.xscroll {overflow-x:auto;overflow-y:hidden;}
.yscroll {overflow-y:auto;overflow-x:hidden;}
.curpointer {cursor:pointer;}

.hiddenZone {display:none;}
.hidden {font-size:0; height:0; overflow:hidden; position:absolute; visibility:hidden; width:0;}

.h90 {height:90%;}
.h93_7 {height:93.7%;}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
 	.h93_7 {height:93.9%;}
}
.h95 {height:95%;}
.h100 {height:100%;}
.w100 {width:100%;}

/* 코멘트 */
.commtxt {color:#ed1a3b !important;}
.txtPoint {font-family:NanumGothicBold;}
.pointNumTxt {font-family:verdana;color:#ed1a3b !important;font-weight:bold;}

/* border */
.borderL {border-left:1px solid #d9d9d9 !important;}
.borderR {border-right:1px solid #d9d9d9 !important;}
.borderT {border-top:1px solid #d9d9d9 !important;}
.borderAll {border:1px solid #d9d9d9 !important;}
.borderPad15 {border:1px solid #d9d9d9;padding:15px !important;}

/* 레이어모달팝업 - 공통 용도 */
.modalPop{cursor:move;background:#333E49;height:37px !important;width:100%;}
.modalTitle{cursor:move;display:block;color: #FFFFFF !important;font-size:16px;font-family:'NanumGothicBold';height: 37px;line-height:35px;padding-left:15px;}
.layerClose{position:absolute;right:15px;top:10px;width:21px;height:21px;background:url('/resource/images/button/btn_modal_close.gif') no-repeat !important;cursor:pointer;}
.modalCon{padding:14px;background:#FFFFFF;border:1px solid #333E49;left:0px;position:absolute;right:0px;top:37px;overflow:hidden;margin:0px;}