/*<!-- 헤더 -->*/
.navbar {
    margin-bottom: 20px;
    border-radius: 0;
}

.jumbotron {
    margin-bottom: 0;
    background-image: url(/img/home_01.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    color: #F4D03F;
    height: 155px;
}

/*<!-- /헤더 -->*/
/*<!-- 로그인 -->*/
.login-form {
    width: 385px;
    margin: 30px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.login-btn {
    font-size: 15px;
    font-weight: bold;
}

.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}

.social-btn .btn:hover {
    opacity: 0.9;
}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

/*<!-- /로그인 -->*/

/*<!-- 상품 -->*/
.demo {
    padding: 45px 0
}

.product-grid2 {
    font-family: 'Open Sans', sans-serif !important;
    position: relative
}

.product-grid2 .product-image2 {
    overflow: hidden;
    position: relative
}

.product-grid2 .product-image2 a {
    display: block
}

.product-grid2 .product-image2 img {
    width: 100%;
    height: auto
}

.product-image2 .pic-1 {
    opacity: 1;
    transition: all .5s
}

.product-grid2:hover .product-image2 .pic-1 {
    opacity: 0
}

.product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s
}

.product-grid2:hover .product-image2 .pic-2 {
    opacity: 1
}

.product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1
}

.product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s
}

.product-grid2:hover .social li {
    transform: translateX(0)
}

.product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.product-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.product-grid2 .social li a:hover {
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.product-grid2 .social li a:after, .product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid2 .social li a:hover:after, .product-grid2 .social li a:hover:before {
    opacity: 1
}

.product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
}

.product-grid2 .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}

.product-grid2:hover .add-to-cart {
    bottom: 0
}

.product-grid2 .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}

.product-grid2:hover .product-new-label {
    opacity: 0
}

.product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center
}

.product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px
}

.product-grid2 .title a {
    color: #303030
}

.product-grid2 .title a:hover {
    color: #3498db
}

.product-grid2 .price {
    color: #303030;
    font-size: 15px
}

@media screen and (max-width: 990px) {
    .product-grid2 {
        margin-bottom: 30px
    }
}

.product-image5 .pic-1, .product-image5 .pic-2 {
    backface-visibility: hidden;
    transition: all .5s ease 0s
}

.product-grid5 {
    font-family: Poppins, sans-serif;
    position: relative
}

.product-grid5 .product-image5 {
    overflow: hidden;
    position: relative
}

.product-grid5 .product-image5 a {
    display: block
}

.product-grid5 .product-image5 img {
    width: 100%;
    height: auto
}

.product-image5 .pic-1 {
    opacity: 1
}

.product-grid5:hover .product-image5 .pic-1 {
    opacity: 0
}

.product-image5 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.product-grid5:hover .product-image5 .pic-2 {
    opacity: 1
}

.product-grid5 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px
}

.product-grid5 .social li {
    display: block;
    margin: 0 0 10px;
    transition: all .5s
}

.product-grid5 .social li:nth-child(2) {
    opacity: 0;
    transform: translateY(-50px)
}

.product-grid5:hover .social li:nth-child(2) {
    opacity: 1;
    transform: translateY(0)
}

.product-grid5 .social li:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px)
}

.product-grid5:hover .social li:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .2s
}

.product-grid5 .social li a {
    color: #888;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    transition: .5s ease 0s
}

.product-grid5 .social li a:hover {
    color: #fff;
    background: #1e3799
}

.product-grid5 .select-options {
    color: #777;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
    margin: 0 auto;
    opacity: 0;
    display: block;
    position: absolute;
    width: 92%;
    left: 0;
    bottom: -100px;
    right: 0;
    transition: .5s ease 0s
}

.product-grid5 .select-options:hover {
    color: #fff;
    background-color: #1e3799;
    text-decoration: none
}

.product-grid5:hover .select-options {
    opacity: 1;
    bottom: 10px
}

.product-grid5 .product-content {
    padding: 20px 10px
}

.product-grid5 .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid5 .title a {
    color: #222
}

.product-grid5 .title a:hover {
    color: #1e3799
}

.product-grid5 .price {
    color: #222;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px
}

@media only screen and (max-width: 990px) {
    .product-grid5 {
        margin-bottom: 30px
    }
}

/*<!-- /상품 -->*/

/*<!-- 댓글 -->*/
.user_name {
    font-size: 14px;
    font-weight: bold;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}

/*<!-- /댓글 -->*/

/*<!-- 공통 -->*/
.sis-center-col {
    float: none;
    margin: 0 auto;
}

.sis-temp-height {
    height: 600px;
}

/*<!-- /공통 -->*/

/*<!-- 공통2 -->*/
div.list-group-root {
    padding: 0;
    overflow: hidden;
}

div.list-group-root .list-group {
    margin-bottom: 0;
}

div.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

div.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

div.list-group-root > .list-group > .list-group-item {
    padding-left: 45px; /*트리 3단계로 구성할 시 30px*/
    font-size: 13px;
    font-weight: bold;
    color: grey;
}

/*<!-- Accordian Tree 3단계, 현재는 사용하지 않음 -->*/
div.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

/*<!-- /공통2 -->*/