<!DOCTYPE html>
<html layout:decorate="~{common/layout}" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/base :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8"></meta>
    <title>Articles</title>
</head>
<body>
<form id="f1" name="f1"></form>
<div th:fragment="article_need_login">
    <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sis-center-col">
            <div class="login-form">
                <div class="alert alert-danger" role="alert" th:if="${login_result} == 'N'">아이디 또는 비밀번호가 틀립니다. 다시 로그인
                    해주세요.
                </div>
                <div class="alert alert-danger" role="alert" th:if="${leftMenu} == 'need_login'">로그인이 필요한 페이지입니다.</div>
                <form action="#" method="post" th:action="@{/login}">
                    <h2 class="text-center">Login</h2>
                    <div class="form-group">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" id="userId" name="userId" placeholder="아이디" required="required"
                                   type="text"></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" id="pwd" name="pwd" placeholder="비밀번호" required="required"
                                   type="password"></div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary login-btn btn-block" type="submit">Login</button>
                    </div>
                    <div class="clearfix"><label class="pull-left checkbox-inline"><input type="checkbox">자동 로그인</label>
                        <a class="pull-right" href="#" style="font-weight:bold;" th:href="@{/registration}">비밀번호를
                            잊어버리셨나요?</a></div>
                    <div class="text-center social-btn"><a class="btn btn-primary" href="#"><i
                            class="fa fa-facebook"></i>&nbsp; Facebook</a> <a class="btn btn-info" href="#"><i
                            class="fa fa-twitter"></i>&nbsp; Twitter</a> <a class="btn btn-danger" href="#"><i
                            class="fa fa-google"></i>&nbsp; Google</a></div>
                </form>
                <p class="text-center text-muted small" th:href="@{/registration}">계정이 없으신가요? <a href="#"
                                                                                                 style="font-weight: bold;">간편하게
                    가입하세요!</a></p>
            </div>
        </div>
    </div>
</div>

<div th:fragment="articles_content_01">
    <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10">
        <h3>자유게시판</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-md-1">번호</th>
                <th class="col-md-4">제목</th>
                <th class="col-md-1">작성자</th>
                <!--                 <th>내용</th> -->
                <th class="col-md-1">작성일</th>
                <th class="col-md-1">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article: ${articleList}">
                <td th:text="${article.seqNo}"></td>
                <td><a href="#" th:href="@{/articles/01/{seqNo}(seqNo=${article.seqNo})}"
                       th:text="${article.title}"></a></td>
                <td th:text="${article.userId}"></td>
                <!--                 <td th:text="${article.content}"></td> -->
                <td th:text="${article.regDateStr}"></td>
                <!--               <th:block th:with="var1=${article.regDate}"> -->
                <!--               <td th:text="${#temporals.createDate(var1, 'yyyyMMdd')}"></td> -->
                <!--               </th:block> -->
                <td th:text="${article.viewCnt}"></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <!--         <a href="#" class="btn btn-default" th:onclick="|javascript:movePage('/articles/01/write');|">글쓰기</a> -->
        <a class="btn btn-default" href="#" th:href="@{/articles/01/write(sendMenu='01')}">글쓰기</a>
        <div class="text-center">
            <ul class="pagination"
                th:with="start=${T(Math).floor(articleList.number/5)*5 + 1}, last=(${start + 4 < articleList.totalPages ? start + 4 : articleList.totalPages})">
                <li><a aria-label="First" th:href="@{/articles/01(page=1)}"><span aria-hidden="true">First</span></a>
                </li>
                <li th:class="${articleList.first} ? 'disabled'"><a
                        aria-label="Previous"
                        th:href="${articleList.first} ? '#' :@{/articles/01(page=${articleList.number})}"><span
                        aria-hidden="true">&lt;</span></a></li>
                <li th:class="${page == articleList.number + 1} ? 'active'"
                    th:each="page: ${#numbers.sequence(start, last)}"><a th:href="@{/articles/01(page=${page})}"
                                                                         th:text="${page}"></a>
                </li>
                <li th:class="${articleList.last} ? 'disabled'"><a
                        aria-label="Next"
                        th:href="${articleList.last} ? '#' : @{/articles/01(page=${articleList.number + 2})}"><span
                        aria-hidden="true">&gt;</span></a></li>
                <li><a aria-label="Last" th:href="@{/articles/01(page=${articleList.totalPages})}"><span
                        aria-hidden="true">Last</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="articles_content_02">
    <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10">
        <h3>인증게시판</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0</td>
                <td>타이틀</td>
                <td>콘텐츠</td>
                <td>작성자</td>
                <td>지금</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <a class="btn btn-default" href="#" th:href="@{/articles/02/write(sendMenu='02')}">인증하기</a>
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="articles_detail_01">
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 sis-center-col">
        <h3>자유게시판</h3>
        <form action="#" method="POST" role="form" th:action="@{/articles/01/comment}">
            <input id="seqNo" name="seqNo" th:value="${article.seqNo}" type="hidden"/>
            <input id="articleCd" name="articleCd" th:value="${article.articleCd}" type="hidden"/>
            <input id="articlePwd" name="articlePwd" th:value="${article.articlePwd}" type="hidden"/>
            <div class="form-group" id="articleActDiv" th:if="${writer_yn} == 'Y'">
                <a class="btn btn-info" href="#" id="articleUpdateBtn"
                   th:href="@{/articles/01/{seqNo}/update(seqNo=${article.seqNo}, sendMenu='U')}">수정</a>
                <a class="btn btn-danger" href="#" id="articleDeleteBtn">삭제</a>
                <!--         <a href="#" id="articleDeleteBtn" class="btn btn-danger" th:href="@{/articles/01/{seqNo}/delete(seqNo=${article.seqNo}, sendMenu='D')}">삭제</a> -->
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $("#articleDeleteBtn").click(function () {
                        var sendData = {};

                        sendData["seqNo"] = $("#seqNo").val();
                        sendData["articleCd"] = $("#articleCd").val();
                        console.log(sendData);
                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            url: "/api/articleDelete",
                            data: JSON.stringify(sendData),
                            dataType: 'text',
                            cache: false,
                            timeout: 600000,
                            success: function (data) {
                                alert("게시글 삭제가 완료 되었습니다.");
                                window.location = "http://localhost:8224/articles/01";
                            },
                            error: function (e) {
                                console.log("ERROR : ", e);
                            }
                        });
                    });
                    /*]]>*/
                </script>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label for="title">제목</label>
                    <!--           <div class="form-control" id="title" th:text="${article.title}"></div> -->
                    <input class="form-control" id="title" name="title" th:value="${article.title}" type="text"/>
                </div>
                <div class="col-xs-3">
                    <label for="title">작성자</label>
                    <!--           <div class="form-control" id="userId" th:text="${article.userId}"></div> -->
                    <input class="form-control" id="userId" name="userId" th:value="${article.userId}" type="text"/>
                </div>
                <div class="col-xs-3">
                    <label for="title">작성일</label>
                    <!--           <div class="form-control" id="regDate" th:text="${article.regDate}"></div> -->
                    <input class="form-control" id="regDateStr" name="regDateStr" th:value="${article.regDateStr}"
                           type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <!--         <div class="form-control pre-scrollable" id="content" style="height:300px;"> -->
                <div class="form-control" id="content" name="content" style="height:auto; min-height:100px;">
                </div>
            </div>
            <th:block th:if="${file != null}">
                <div class="form-group">
                    <label for="fileNm">첨부파일</label>
                    <input class="form-control" disabled id="fileNm" name="fileNm"
                           th:value="${file.fileNm}" type="text"/>
                </div>
            </th:block>
            <hr>
            <br>
            <div class="form-group">
                <div class="comments-list">
                    <div class="media" th:each="comment: ${commentList}">
                        <input id="commentNo" name="commentNo" th:value="${comment.commentNo}" type="hidden"/>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $(function () {
                                var classVar = [[${comment.seqNo}]];

                                $('.' + classVar).each(function (index) {
                                    var date = returnElapsedTime([[${comment.regDate}]]);
                                    $(this).text(date);
                                });
                            });
                            /*]]>*/
                        </script>
                        <p class="pull-right"><small th:classappend="${comment.seqNo}"></small></p>
                        <a class="media-left media-top" href="#">
                            <img class="media-object" height="40px" src="../../img/icon/img_avatar1.jpg" width="40px">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading user_name" th:text="${comment.userId}"></h4>
                            <th:block th:text="${comment.comment}"></th:block>
                            <p><small><a href="#">Like</a> - <a href="#">Share</a></small></p>
                            <th:block
                                    th:if="${session.loginedUser != null} and ${session.loginedUser.userId} == ${comment.userId}">
                                <!--                 <button type="button" class="btn btn-info btn-xs media-bottom" th:if="${session.loginedUser.userId} == ${comment.userId}">수정</button> -->
                                <button class="btn btn-danger btn-xs media-bottom commentDeleteBtn"
                                        th:id="${comment.commentNo}"
                                        type="button">삭제
                                </button>
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    $(".commentDeleteBtn").click(function () {
                                        var sendData = {};
                                        var seqNo = $("#seqNo").val();
                                        sendData["articleCd"] = $("#articleCd").val();
                                        sendData["userId"] = [[${comment.userId}]];
                                        sendData["commentNo"] = $(this).attr('id');
                                        $.ajax({
                                            type: "POST",
                                            contentType: "application/json",
                                            url: "/api/commentDelete",
                                            data: JSON.stringify(sendData),
                                            dataType: 'text',
                                            cache: false,
                                            timeout: 600000,
                                            success: function (data) {
                                                alert("댓글 삭제가 완료 되었습니다.");
                                                window.location.replace("http://localhost:8224/articles/01/" + seqNo);
                                            },
                                            error: function (e) {
                                                console.log("ERROR : ", e);
                                            }
                                        });
                                    });
                                    /*]]>*/
                                </script>
                                <br>
                                <br>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-10">
                    <!--           <textarea class="form-control" rows="2" id="comment" style="resize:none;"></textarea> -->
                    <input class="form-control" id="inputComment" name="inputComment" placeholder="댓글 달기..."
                           type="text">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default btn-lg btn-block" type="submit">등록</button>
                    <!--           <input type="submit" class="form-control btn btn-info" value="등록"/> -->
                </div>
            </div>
            <hr>
            <div class="form-group row" style="text-align:center;">
                <div class="col-xs-4">
                    <div class="sis-center-col" style="display:block;">
                        <button class="btn btn-warning" type="button">이전글</button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="sis-center-col" style="display:block;">
                        <input class="btn btn-warning" th:onclick="|javascript:movePage('/articles/01')|" type="button"
                               value="목록으로"/>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="sis-center-col" style="display:block;">
                        <input class="btn btn-warning" type="button" value="다음글"/>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(function () {
                    var Value = [[${article.content}]];
                    $('#content').append(Value);
                });
                /*]]>*/
            </script>
        </form>
        <br>
    </div>
</div>

</body>
</html>