<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Kanit:200}">
<link rel="stylesheet" th:href="@{/css/lib/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/css/lib/404.css}" />

<head th:replace="common/base :: common_header(~{::title},~{::link})">
    <meta charset="utf-8">
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>이ㅣㅣㅣ런! 아무것도 찾지 못했습니다.</h2>
            <p>찾으시는 페이지의 이름 변경 혹은 일시적으로 사용할 수 없어 제거 되었을 수 있습니다.</p>
            <p><a href="/">돌아가기</a></p>
            <div class="notfound-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>